/* RESET RULES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

/* APP RULES */
main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 20%, #d9dbd5 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 80%;
    height: 95%;
    display: flex;
}

.left-side {
    width: 30%;
    height: 100%;
    background-color: white;
}

.right-side {
    width: 70%;
    height: 100%;
}

/* APP LEFT-SIDE RULES */
.user-profile {
    width: 100%;
    height: 10%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.user-photo {
    width: 20%;
    height: 100%;
}

.user-photo img,
.active-contact-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 5px;
}

.user-name {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-setting {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-setting i {
    margin-right: 10px;
    color: grey;
}

.notification-status {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #8edafc;
    padding: 5px;
}

.notification-status .push-notification-icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    padding: 10px;
}

.notification-status .push-notification-text {
    width: 80%;
    font-size: 12px;
    margin-left: 5px;
}

.notification-status .push-notification-text span {
    font-size: 10px;
    color: gray;
    text-decoration: underline;

}

.contact-search {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.contact-search .input-glass {
    width: 20%;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    color: lightgray;
    border-right: none;
}

.contact-search .search {
    width: 80%;
    height: 30px;
    border: 1px solid lightgray;
}

.contact-list {
    width: 100%;
    height: 70%;
}

.contact {
    height: 15%;
    width: 100%;
    display: flex;
    padding: 5px;
    border-top: 1px solid lightgray;
}

.avatar {
    width: 20%;
    display: flex;
    justify-content: center;
}

.contact img {
    width: 100%;
    border-radius: 50%;
}

.contact-name {
    width: 60%;
    margin-left: 20px;
}

.contact-name span {
    font-size: 12px;
    color: gray;
}

.last-access {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 8px;
}

/* APP RIGHT-SIDE RULES */
.contact-profile {
    width: 100%;
    height: 10%;
    background-color: #eaeaea;
    display: flex;
    border-left: 1px solid lightgray;
}

.active-contact-info {
    width: 60%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-setting {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.contact-setting  i {
    margin-right: 10px;
    color: gray;
}

.chat {
    width: 100%;
    height: 80%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    background-image: url(../img/mine.jpg);
}

.message {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
}

.message.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.message.received {
    background-color: white;
}

.message-content {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
}

.message-time {
    width: 10%;
    display: flex;
    align-items: flex-end;
    font-size: 8px;
    color: gray;
    padding: 3px;

}

.new-message {
    height: 10%;
    width: 100%;
    display: flex;
    background-color: #f3eeea;
}

.emoji {
    width: 10%;
    height: 100%;
}

.message-input {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.new-message-input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.send-message {
    width: 10%;
    height: 100%;
}

.new-message .emoji,
.new-message .send-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

