/* RESET RULES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* APP RULES */
main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 20%, #d9dbd5 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 80%;
    height: 95%;
    display: flex;
    background-color: white;
}

.left-side {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-side {
    width: 65%;
    height: 100%;
    border-left: 1px solid lightgray;
}

/* APP LEFT-SIDE RULES */
.user-profile {
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.user-photo {
    width: 20%;
    height: 100%;
}

.user-photo img,
.active-contact-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 5px;
}

.user-name {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-setting {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-setting i {
    margin-right: 10px;
    color: #b1b1b1;
}

/* NOTIFICATION SECTION */
.notification-status {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 10px;
}

.notification-status .push-notification-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #8edafc;
    padding: 10px;
    background-color: white;
    color: #8edafc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-status .push-notification-text {
    font-size: 12px;
    padding: 10px;
}

.notification-status .push-notification-text a {
    color: gray;
}

/* CONTACT SEARCH SECTION */
.contact-search {
    height: 50px;
    width: 100%;
    padding: 5px;
    background-color: #fafafa;

    display: flex;
}

.contact-search > * {
    background-color: white;
    padding: 7px;
    border: 1px solid #eee;
}

.contact-search .input-glass {
    width: 15%;
    color: #b2b6b8;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-search .search {
    width: 85%;
    border-left: none;
}

/* CONTACT LIST SECTION */
.contact-list {
    width: 100%;
    height: calc(100% - 200px);
    overflow-y: auto;
}

.contact {
    padding: 10px 20px;
    border-top: 1px solid lightgray;
    cursor: pointer;

    display: flex;
}

.avatar {
    width: 20%;
    display: flex;
    justify-content: center;
}

.contact img {
    width: 100%;
    border-radius: 50%;
}

.contact-name {
    margin-left: 20px;

    flex-grow: 1;
}

.contact-name span {
    font-size: 12px;
    color: gray;
}

.last-access {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 8px;
}

/* APP RIGHT-SIDE RULES */
.contact-profile {
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.active-contact-info {
    width: 60%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-setting {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.contact-setting  i {
    margin-right: 10px;
    background-color: #eaeaea;
}

/* CHAT SECTION */
.chat {
    height: calc(100% - 140px);
    padding: 40px;
    background-image: url(../img/mine.jpg);

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message {
    min-width: 30%;
    max-width: 60%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;

    position: relative;
    cursor: pointer;
}

.message.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.message.received {
    background-color: white;
    align-self: flex-start;
}

.message-content {
    font-size: 12px;
}

.message-time {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 0 4px;
    font-size: 8px;
    color: gray;
}

.message-option {
    width: 60%;
    padding: 10px;
    position: absolute;
    top: 70%;
    right: 5px;
    background-color: white;
    z-index: 3;
    cursor: pointer;
    font-size: 12px;

    display: none;
}

.message-option.option-visible {
    display: block;
}


/* NEW MESSAGE SECTION */
.new-message-section {
    height: 70px;
    padding: 10px;
    background-color: #f3eeea;

    display: flex;
}

.emoji,
.send-message {
    width: 10%;
    color: #6b7376;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.message-input {
    flex-grow: 1;
}

.new-message-input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.selected {
    background-color: rgba(110, 110, 110, 0.2);
}

