<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        
            <div id="app">
                <main>
                    <div class="app">

                        <!-- left-side of the  APP -->
                        <div class="left-side">

                            <!-- user profile -->
                            <div class="user-profile">
                                <div class="user-photo">
                                    <img src="img/avatar_1.jpg" alt="avatar_1">
                                </div>
                                <div class="user-name">Sofia</div>
                                <div class="user-setting">
                                    <i class="fa-solid fa-circle-notch fa-lg"></i>
                                    <i class="fa-solid fa-message fa-lg"></i>
                                    <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                </div>
                            </div>

                            <!-- notification status -->
                            <div class="notification-status">
                                <div class="push-notification-icon">
                                    <i class="fa-solid fa-bell-slash fa-xl"></i>
                                </div>
                                <div class="push-notification-text">
                                    <h4>
                                        Ricevi notifiche di nuovi messaggi
                                    </h4>
                                    <span>
                                        attiva notifiche desktop
                                    </span>
                                </div>
                            </div>

                            <!-- contact serach -->
                            <div class="contact-search">
                                <div class="input-glass">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <input class="search" type="text" v-model="search" placeholder="  Cerca o inizia una nuova chat" @keyup="searchFilter()">
                            </div>

                            <!-- contact list -->
                            <div class="contact-list">
                                <div v-for="(contact, index) in contacts">
                                    <div v-show="contact.visible">
                                        <div class="contact" :class="{'selected' : index == currentIndex}" 
                                        @click="activeContact(index)"> <!--al click a currentIndex viene assegnato il valore di index
                                        e di conseguenza gli viene applicata la classe selected --> 
                                            <div class="avatar">
                                                <img :src="`img/avatar${contact.avatar}.jpg`" :alt="`avatar${contact.avatar}`">
                                            </div>
                                            <div class="contact-name">
                                                <h4>{{ contact.name }}</h4>
                                                <span>{{  }}</span>
                                            </div>
                                            <div class="last-access">12.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- right-side of the APP -->
                        <div class="right-side">
                            <div class="contact-profile">
                                <div class="active-contact-photo">
                                    <img src="img/avatar_2.jpg" alt="avatar_2">
                                </div>
                                <div class="active-contact-info">
                                    <h4>
                                        Michele
                                    </h4>
                                    <span>
                                        Ultimo aggriornamento alle 12:00
                                    </span>
                                </div>
                                <div class="contact-setting">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                </div>
                            </div>

                            <!-- Chat section -->
                            <div class="chat">
                                <div class="message" v-for="(message, index) in contacts[currentIndex].messages"
                                :class="message.status">
                                    <div class="message-content">{{ message.message }}</div>
                                    <div class="message-time">{{ message.date }}</div>
                                </div>
                            </div>

                            <!-- new-message section -->
                            <div class="new-message">
                                <div class="emoji">
                                    <i class="fa-regular fa-face-smile"></i>
                                </div>
                                <div class="message-input">
                                    <input class="new-message-input" v-model="newMessage" type="text" placeholder="  Scrivi un messaggio"
                                    @keypress.enter="sendMessage(newMessage, currentIndex)">
                                </div>
                                <div class="send-message">
                                    <i class="fa-solid fa-paper-plane" @click="sendMessage(newMessage, currentIndex)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>